<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.veesing.system.dao.UserDao">

	<select id="getByUsername" resultType="com.veesing.system.domain.UserDO">
		select
		`user_id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,`user_id_create`,`gmt_create`,`gmt_modified`,`customer_id`
		from sys_user where username = #{value}
	</select>

</mapper>
